@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --def-blue: #4361EE;
    --light-blue: #799DE8;
    --dark-blue: #0D248C;
    --white: #FFFFFF;
    --black: #181925;
    --def-light: #F8F9FB;
    --dark-light: #ECEEF8;
    --darker-light: #eef0f6;
    --def-yellow: #FFCF2D;
    --light-yellow: #F5E86A;
    --def-grey: #B7B7B7;
    --dark-grey: #605F5F;
    --dark-red: #FF4733;
    --def-red: #FF8173;
    --light-red: #FFB6AD;
    --light-green: #C2FFCF;
    --def-green: #5CFF7F;
    --dark-green: #00B828;
}

.fbg-blue {
    background: var(--def-blue);
}

@media (max-width: 1024px) {
    .min-h-64 {
        min-height: 16rem;
    }
}

.w-scrollMaterias {
    width: calc(100vw - 2rem);
}

.red-icon {
    font-size: 1.1rem;
    color: var(--def-grey);
    border-radius: 9999px;
    padding: 0.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    cursor: pointer;
}

.red-icon:hover {
    background-color: var(--def-red);
    color: var(--white)
}

.fbg-blue:hover {
    background: var(--dark-blue);
}

.bg-outro_cinza {
    background-color: #ECF1F8;
}

.text-4_5xl {
    font-size: 2.75rem
}

.inputfield {
    width: 100%;
    height: 3rem;
    border-width: 2px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    outline: none;
    border-radius: 1rem;
    background-color: var(--dark-light);
    border-color: var(--dark-light);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.inputfieldWhite {
    width: 100%;
    border-width: 2px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    outline: none;
    border-radius: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: var(--dark-light);
    border-color: var(--dark-light);
}

.inputfieldRed {
    background-color: var(--light-red);
    border-color: var(--def-red);
}

.inputfieldGreen {
    background-color: var(--light-green);
    border-color: var(--def-green);
}

.inputfield:focus, .inputfieldWhite:focus {
    border-color: var(--light-blue)
}

.rounded-2borders {
    border-radius: 0 0 40px 40px;
}

.rounded-2rborders {
    border-radius: 40px 0 0 40px;
}

.rounded-2lborders {
    border-radius: 0 40px 40px 0;
}

.h-body {
    height: calc(100% - 5rem);
}

.posIconSenha {
    position: absolute;
    top: 8px;
    right: 8px;
}

.posIconOlho {
    position: absolute;
    top: 2px;
    right: 0;
}


.button {
    font-family: Nunito;
    font-weight: 800;
    border-radius: 0.75rem;
    border-width: 2px;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.sqr_button {
    font-family: Nunito;
    font-weight: 800;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 1rem;
    border-width: 2px;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.bg-blue-op-60 {
    background-color: rgba(67, 97, 238, 0.6);
}

.blue_button {
    border-color: var(--def-blue);
    color: var(--white);
    background-color: var(--def-blue);
}

.blue_button:hover {
    background-color: var(--dark-blue);
}

.grey_button {
    border-color: var(--darker-light);
    color: var(--dark-blue);
    background-color: var(--def-light);
}

.answer_button {
    font-weight: 800;
    border-radius: 2rem;
    border-width: 2px;
    cursor: pointer;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-color: var(--darker-light);
    color: var(--dark-grey);
    background-color: var(--darker-light);
}

.answer_button:hover {
    background-color: var(--def-blue);
    color: var(--white)
}

.grey_button:hover {
    background-color: var(--dark-light);
}

  .showMore {
    width: 100%;
    background-color: var(--white);
    border-radius: 9999px;
    font-weight: 600;
    cursor: pointer;
    color: var(--def-blue);
    padding: 0.5rem;
    font-size: 1.125rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    justify-items: center;
  }

  .inverter {
    --tw-invert: invert(0)
  }

  .inverter:hover {
    --tw-invert: invert(1)
  }

  .showMore:hover {
    background-color: var(--def-blue);
    color: var(--white);
  }